<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <title>Sen-Blog</title>
<bootstrap />
<link rel="stylesheet" href="__PUBLIC__/Home/css/index.css" />
</head>
<body>
    <!-- 顶部导航开始 -->
    <div id="nav">
        <div class="b-inside">
            <div class="logo">Sen个人博客</div>
            <ul class="category">
                <li class="cname action">首页</li>
                <li class="cname">分类1</li>
                <li class="cname">分类2</li>
            </ul>
        </div>
    </div>


    
</body>
</html>