<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <title>修改标签</title>
<bootstrap />
</head>
<body>
    <table class="table table-bordered table-hover table-condensed">
        <form action="" method="post">
            <tr>
                <th>标签名</th>
                <td>
                    <input class="form-control modal-sm" type="text" name="tname" value="" />
                </td>
            </tr>
            <tr>
                <th></th>
                <td>
                    <input class="btn btn-default" type="submit" value="修改" />
                </td>
            </tr>
        </form>
    </table>   
</body>
</html>